
@font-face {
    font-family: Productsans;
    src: url('../assets/fonts/Product\ Sans\ Regular.ttf');
}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: var(--body-text) !important;
}

:root{
    --brand-color:#0ABAB5;
    --secondary-color: #D8E4FC;
    --light-brand: #E4F2FA;
    --dark-blue: #07072D;
    --light-blue: #0C1342;
    --white-text:#fff;
    --body-text: Productsans, sans-serif;
    --light-gray: #D6D8E0;
    --bg-body: #F4F7FE;
    --text-gray: #858992;
    --black-color: #000;
    --card-bg: #FCFCFD;
    --pill-color-1: #0E98D8;
    --pill-color-2: #759ADD;
    --pill-color-3: #7EB1DF;
    --pill-color-4: #87C9E1;
    --red-3: #F5693D;
    --input-border: #d9d9d9;
    --basic-color: #019F8B;
    --light-violet: #7D40FF;
    --bright-red: #EF4444;
    --apple-green: #74B500;
    --light-brand-2: #BED5FA;
    --sky-color: #3B82F6;
    --lightest-sky: #F2F7FE;



    --red-color: #FF3B30;
    --light-white: #F4F5F6;
    --border-gray: #DDE1E9;  
    --blue: #3B82F6; 
    --color-nafth: #36999A;
    --light-green: #DCF3E7;
    --green: #34C759;
    --light-orange: #FFF0D9;
    --orange: #FF9800;
    --red-1:#FF1C14;
    --light-red: #FFDDDC;
    --light-indego: #DAE2F7;
    --teal-text:#00AAA4;
    --teal-light: #D9F2F2;
    --magenta-text: #D024B1;
    --magenta-light: #F8DEF4;
    --bg-gray-light: #EBECEF;
    --sky-blue: #5898FF;
    --sky-light: #E6F0FF;
    --dark-orange: #FF5C4E;
    --light-orange-1: #FFE7E5;
    --sky-lightest: #F4F7FE;
    --gray-color: #B1B5C3;
    --violet-color: #8A38F5;
    --bg-violet-light: #EEE1FE;
    --light-brand-2: #BED5FA;
    --subtitle-color: #353945;
    --vivid-bg: #FFE1EA;
    --vivid-color: #FF3470;
}   

.card-bg{
    background-color: var(--card-bg) !important;
}

.text-bright-red{
    color: var(--bright-red) !important;
}

.bg-pill-1{
    background-color: var(--pill-color-1) !important;
}

.text-green {
    color: var(--green) !important;
}

.bg-delete{
    background-color: var(--red-3) !important;
}

.bg-violet{
    background-color: var(--light-violet) !important;
}

.bg-basic-color{
    background-color: var(--basic-color) !important;
}

.bg-apple-green{
    background-color: var(--apple-green) !important;
}



.success{
    background-color: var(--light-green) !important;
    color: var(--green) !important;
}

.pending{
    background-color: var(--light-orange) !important;
    color: var(--orange) !important;
}

.inactive{
    background-color: var(--light-red) !important;
    color: var(--red-1) !important;
}

.bg-brand-light{
    background-color: var(--light-brand-2) !important;
}

.text-black{
    color: var(--black-color) !important;
}

.text-medium-gray{
    color: var(--subtitle-color) !important;
}

.text-brand{
    color: var(--brand-color) !important;
}

.border-gray{
    border:1px solid var(--border-gray) !important;
}

.border-light-gray{
    border:1px solid var(--light-gray) !important;
}

.bg-black{
    background-color: var(--black-color) !important;
}

.bg-light-gray{
    background-color: var(--light-gray) !important;
}

.fs-10{
    font-size: 10px !important;
}

.fs-11{
    font-size: 11px !important;
}

.fs-12{
    font-size: 12px !important;
}

.fs-13{
    font-size: 13px !important;
}

.fs-14{
    font-size: 14px !important;
}

.fs-15{
    font-size: 15px !important;
}

.fs-16{
    font-size: 16px !important;
}

.fs-discount{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.2;
}

.fw-400{
    font-weight: 400 !important;
}

.fw-500{
    font-weight: 500 !important;
}

.fw-600{
    font-weight: 600 !important;
}

.fw-700{
    font-weight: 700 !important;
}

.text-secondary{
    color: var(--second-color) !important;
}

.brand-bg{
    background-color: var(--brand-color) !important;
}

.text-gray{
    color: var(--text-gray) !important;
}

.text-white{
    color: var(--white-text) !important;
}


.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.site-layout{
    background: var(--bg-body) !important;
}

.ant-layout .ant-layout-sider {
    background: var(--white-text) !important;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    overflow-x: hidden;
}

.bg-transparent{
    background: transparent !important;
}

.border-0{
    border: 0px !important;
}

.p-0{
    padding: 0px !important;
}
.pt-1x{
    padding-top: 4px !important;
}
.p-1{padding: 4px !important;}
.p-2{padding: .5rem !important;}
.pb-2{padding-bottom: 1rem !important;}
.pt-3{padding-top:1rem!important;}
.pt-5{padding-top:3rem!important;}
.px-0{padding-right:0!important;padding-left:0!important}
.px-1{padding-right:.25rem!important;padding-left:.25rem!important}
.px-2{padding-right:.5rem!important;padding-left:.5rem!important}
.px-3{padding-right:1rem!important;padding-left:1rem!important}
.px-4{padding-right:1.5rem!important;padding-left:1.5rem!important}
.px-5{padding-right:3rem!important;padding-left:3rem!important}

.py-0{padding-top:0!important;padding-bottom:0!important}
.py-1{padding-top:.25rem!important;padding-bottom:.25rem!important}
.py-2{padding-top:.5rem!important;padding-bottom:.5rem!important}
.py-3{padding-top:1rem!important;padding-bottom:1rem!important}
.py-4{padding-top:1.5rem!important;padding-bottom:1.5rem!important}
.py-5{padding-top:3rem!important;padding-bottom:3rem!important}


.margintop-5{
    margin-top: 5px !important;
}
.mb-2{
    margin-bottom: 1rem !important;
}
.mb-0{
    margin-bottom: 0px !important;
}
.mt-3{
    margin-top: 1rem !important;
}
.mt-2{margin-top: .5rem !important;}
.m-0{margin: 0 !important}
.mt-0{margin-top: 0 !important}
.mb-3{margin-bottom:1rem!important}
.mb-4{margin-bottom:1.5rem!important}
.mx-0{margin-right:0!important;margin-left:0!important}
.mx-1{margin-right:.25rem!important;margin-left:.25rem!important}
.mx-2{margin-right:.5rem!important;margin-left:.5rem!important}
.mx-3{margin-right:1rem!important;margin-left:1rem!important}
.mx-4{margin-right:1.5rem!important;margin-left:1.5rem!important}
.mx-5{margin-right:3rem!important;margin-left:3rem!important}
.mx-auto{margin-right:auto!important;margin-left:auto!important}
.my-0{margin-top:0!important;margin-bottom:0!important}
.my-1{margin-top:.25rem!important;margin-bottom:.25rem!important}
.my-2{margin-top:.5rem!important;margin-bottom:.5rem!important}
.my-3{margin-top:1rem!important;margin-bottom:1rem!important}
.my-4{margin-top:1.5rem!important;margin-bottom:1.5rem!important}
.my-5{margin-top:3rem!important;margin-bottom:3rem!important}

.bg-secondary-color{
    background-color: var(--secondary-color) !important;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.ant-input-outlined:hover{
    border-color: var(--black-color) !important;
}

.ant-input-outlined:focus, .ant-input-outlined:focus-within{
    box-shadow: none !important;
    border-color: var(--black-color) !important;
}

.card-cs{
    border-color: var(--light-gray);
}

.card-cs .ant-card-body{
    padding: 18px !important;
}

.card-16 .ant-card-body{
    padding: 16px !important;
}

.radius-12{
    border-radius: 12px !important;
}

.radius-8{
    border-radius: 8px !important;
}

.radius-4{
    border-radius: 4px !important;
}

.radius-20{
    border-radius: 20px !important;
}

/* tab button css */
.btnactive{
    background: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btnpill{
    padding: 0.55rem 1rem;
    height: auto !important;
    border-color: transparent  !important;
    color: var(--black-color);
    box-shadow: none !important;
    font-size: .9rem;
    border-radius: 16px;
}

/* table css */
.ant-table-measure-row{
    display: none;
}

.ant-table-wrapper .ant-table {
    scrollbar-color: unset !important;
}

.table-dark table .ant-table-tbody >tr >td{
    padding: 15px 10px  !important;
    border-color: var(--secondary-color) !important;
}

.table-cs .ant-table-thead{
    background: var(--brand-color) !important;
}

.table .ant-table-container table>thead>tr:first-child >*:last-child{
    border-radius: 0px !important;
}

.table-cs .ant-table-container table>thead>tr:first-child >*:last-child{
    border-top-right-radius: 8px !important;
}

.table-dark .ant-table-thead{
    background: transparent !important;
}

.table-dark .ant-table-thead >tr>th{
    color: var(--black-color) !important;
    padding: 14px 10px  !important;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    font-weight: 500 !important;
}

.table .ant-table-thead >tr>th{
    color: var(--white-text) !important;
}

.table-dark .ant-table-thead >tr>th:not(:last-child){
    background-color: transparent !important;
}

.table-dark .ant-table-thead >tr>th:last-child{
    background-color: transparent !important;
}

.ant-table-column-sorters .ant-table-column-title{
    font-weight: 500 !important;
}

/* .table-dark .ant-table-thead >tr>th:last-child{
    background: red !important;
} */

.table-dark .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    background-color: transparent !important;
}

.table-cs .ant-table-thead >tr>th{
    color: var(--white-text) !important;
    padding: 14px 10px  !important;
    border-top: 0 !important;
    border-bottom: 1px solid var(--border-gray);
    font-weight: 500 !important;
    background-color: var(--brand-color) !important;
}

.table-cs .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    background-color: var(--brand-color) !important;
}


/* .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child{
    background-color: var(--light-secondary) !important;
} */

.pagination .ant-pagination li .ant-pagination-item-link {
    color: var(--black-color) !important;
}

.pagination .ant-pagination-item-active{
    background-color: var(--brand-color) !important;
    border-color: var(--brand-color) !important;
    color: var(--white-text) !important;
}

.pagination .ant-pagination .ant-pagination-item-active a {
    color: var(--white-text) !important;
}

.pagination .ant-pagination .ant-pagination-item {
    background-color: transparent;
}

.pagination .ant-pagination .ant-pagination-item a{
    color: var(--black-color);
}

.pagination .ant-pagination-item-active a {
    color: var(--white-text) !important;
}

.filter-pag .ant-select-selector{
    background-color: var(--brand-color) !important;
    color: var(--white-text);
    border-color: var(--brand-color) !important;
}

.filter-pag .ant-select-arrow{
    color: var(--white-text) !important;
}

.filter-bg .ant-select-arrow .anticon{
    color: var(--white-text) !important;
}

.ant-input-affix-wrapper .ant-input-prefix {
    margin-inline-end: 10px !important;
    margin-top: -2px !important;
}
.drawer .ant-drawer-header {
    background-color: transparent !important; 
  }
  
  .btnsave{
    padding: .8rem 1.9rem;
    height: auto !important;
    box-shadow: none !important;
    font-size: .8rem;
    border-radius: 5px;
    border: 1px solid var(--brand-color);
}
.btncancel{
    padding: 0.8rem 1.9rem;
    height: auto !important; 
    color: var(--black-color) !important;
    box-shadow: none !important;
    font-size: .8rem;
    border-radius: 5px;
    border-color: var(--border-gray) !important;
}

.pad-x{
    padding: .6rem 1rem !important;
}

.pad{
    padding: 10px !important;
}

.pad-filter {
    padding: .50rem 1rem !important;
}

.filter-bg{
    background-color: var(--light-gray-bg) !important;
}

.center{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 
 }
 .align-center{
    align-items: center;
 }
 .property-margin{
    margin-bottom: 10px;
    font-size: 17px;
 }
 .shadow-c {
    box-shadow: 0px 2px 6px rgba(15, 20, 34, 0.14);
  }
  
  .modal-cs .ant-modal-content {
    border-radius: 10px;padding: 0px !important;
  }
  
  .modal-cs .header-modal{
    padding: 10px 24px;    
    border-bottom: 1px solid var(--border-gray);
    /* margin-bottom: 13px; */
  }

  .modal-cs .content-modal{
    padding: 15px 24px;
  }

  .modal-cs .ant-modal-footer{
    padding: 12px 24px;    
    border-top: 1px solid var(--border-gray);
  }
  /* .modal-title {
    color: white;
  } */
  
  .close-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-border {
    height: 1px;
    background-color: rgba(105, 105, 105, 0.5);
    margin-bottom: 15px; 
  }

  .drawer .ant-drawer-header {
    border-bottom: 1px solid rgba(105, 105, 105, 0.5) !important
}

.drawer .ant-drawer-footer {
    border-top: 1px solid rgba(105, 105, 105, 0.5) !important
}

.dragcs .ant-upload-list{
    flex-direction: column !important;
}

.dragcs .ant-upload-drag{
    border-width: 2px;
    border-color: var(--border-blue) !important;
    border-radius: 12px;
}

.border-white{
    border-color: var(--white-text) !important;
}

.border-black{
    border-color: var(--black-color) !important;
}

.ant-picker .ant-picker-suffix{
    color: var(--black-color) !important;
}

.right{
    display: flex;
    justify-content: end;
}

.drawer .ant-drawer-footer,
.drawer .ant-drawer-header{
    border-width: 1px !important;
    border-color: var(--border-gray) !important;
}

.ant-drawer-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--light-gray);
}

.ant-drawer-body::-webkit-scrollbar
{
	width: 6px;
    border-radius: 10px;
	background-color: var(--light-gray);
}

.ant-drawer-body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--secondary-color);
}

.bg-white{
    background-color: var(--white-text) !important;
}

/* .ant-dropdown .ant-dropdown-menu{
    background: var(--secondary-color) !important;
} */

.ant-dropdown .ant-dropdown-menu span{
    color: var(--black-color);
}

.width-drag{
    width: 30%;
    margin: 0 auto;
}

.w-170 .ant-select-selector {
    width: 170px !important;
    max-width: 100%;
}

.or-cs{
    position: relative;
    margin-bottom: 20px;
}

.or-cs span{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-text);
    padding: 0px 10px;
}

.or-cs::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    height: 1px;
}

.ant-upload.ant-upload-select{
    border-color: var(--black-color) !important;
}

.viewDownload{
    padding: 10px 12px;
    background-color: var(--secondary-color);
}

.danger-color{
    color:#C30010 !important
}

.bg-danger{
    background: #FF1519 !important;
}

.space-between-align{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media (max-width: 991px){
    .width-drag{
        width: 90%;
    }
}

@media (max-width: 1440px){
    .width-fix{
        width: 100%;
    }
}

@media (max-width: 1000px){
    .cardlg .ant-card-body{
        padding: 15px !important;
    }
    .mbl-fs{
        font-size: 16px !important;
    }
    
}

@media (max-width: 700px){
    /* .header-mbl-cs>div{
        flex-direction: column;
        align-items: center;
    } */
    .header-mbl-cs{
        height: auto !important;
    }
}


/*  */
.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-error{
    border-color: var(--black-color) !important;
}


/* menu in collapse view */
.addclass .ant-menu .ant-menu-submenu .ant-menu-submenu-title,
.addclass .ant-menu-item>img{
    transform: translateX(13px) !important;
}

.addclass .ant-menu .ant-menu-submenu .ant-menu-submenu-title .ant-menu-submenu-arrow{
    display: none !important;
}

.ant-menu-vertical .ant-menu-title-content{
    color: var(--black-color);
}

.ant-menu-vertical .ant-menu-item-selected .ant-menu-title-content{
    color: var(--black-color) !important;
}


/* css */
.lagend-class{
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.border-btm{
    border-bottom: 1px solid rgba(105, 105, 105, 0.5) !important
}


.ant-table-cell-row-hover{
    background-color: #E8F7FD !important;
}

.badge-cs{
    padding: 5px 15px;
    border-radius: 12px;
    white-space: nowrap;
}

.text-center{
    display: block;
    text-align: center;
}

.border-color-divider{
    border-block-start: 1px solid rgba(5, 5, 5, 0.2) !important;
}

.card-h .ant-card-body{
    height: 100% !important;
}

.ant-tooltip{
    font-size: 12px !important;
}

.border-circle{
    border: 1px solid var(--inactive-color);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.cursor{
    cursor: pointer;
}

.drager .ant-upload-drag {
    background-color: transparent !important;
    border-color: transparent !important;
}

.position-relative{
    position: relative;
}

.drager:hover .overlap-img{
    filter: grayscale(0);
}

.overlap-img{
    position: absolute;
    top: -25px;
    left: 0px;
    filter: grayscale(1);
}

.sorttexthover:hover span{
    color: var(--brand-color) !important;
}

.space-cs .ant-space-item:first-child{
    width: 100% !important;
}

.h-40{
    height: 40px !important;
}

.border-brand{
    border: 1px solid var(--brand-color) !important;
}

.search-w{
    width: 400px;
    max-width: 100%;
}

.shadow-d{
    box-shadow: 0px 7.79px 27.25px 0px #4859661A;
}

.ant-form-item-required{
    flex-direction: row-reverse !important;
}

.ant-form-item .ant-form-item-label >label::after {
    content: ":";
    position: relative;
    margin-block: 0;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    margin-inline-end: 0px !important;
    margin-inline-start: 5px;
}

.actionbtn{
    position: absolute;
    top: 10px;
    right: 10px;
}

.receipt-drag{
    width: 150px;
    margin: 0 auto;
}
.custom-quill .ql-container {
    border-radius: 0 0 8px 8px !important;
    border: 1px solid #7E848E !important;
    padding: 8px !important;
    border-top: none !important;
}
  .custom-quill .ql-editor {
    min-height: 100px !important; /* Minimum height */
    border-radius: 0 0 8px 8px!important; /* Rounded corners for content area */
    padding: 8px !important; /* Inner padding */
  }
  .custom-quill .ql-toolbar {
    border-radius: 8px 8px 0 0 !important; /* Rounded corners for toolbar */
    border: 1px solid #7E848E !important;
    border-bottom: none !important;
    background-color: var(--light-gray) !important;
    color: #000;
}

.overflow-on .ant-card-body{
    height: 350px;
    overflow-y: auto;
}

.overflow-on .ant-card-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.overflow-on .ant-card-body::-webkit-scrollbar
{
	width: 6px;
    border-radius: 10px
}

.overflow-on .ant-card-body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--secondary-color);
}


.overflowstyle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.overflowstyle::-webkit-scrollbar
{
	width: 6px;
    border-radius: 10px
}

.overflowstyle::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--black-color);
}

/* add new css */
.ant-table-wrapper tfoot>tr>td{
    padding: 16px 10px !important;
} 


.datepicker-cs{
    flex-direction: row-reverse !important;
}

.datepicker-cs .ant-picker-suffix {
    margin-inline-start: 0px !important;
    margin-inline-end: 4% !important;
}

.bg-green{
    background-color: var(--green) !important; 
}


.bar-width .apexcharts-canvas{
    width: 100% !important;
}

.bar-width .apexcharts-canvas svg{
    width: 100% !important;
}

.ant-form-item-explain-error{
    font-size: 12px !important;
}

.h-auto{
    height: auto !important;
}

.object-contain{
    object-fit: contain;
}

.object-p-top{
    object-position: top;
}

/* ant-tabs-tab-active */
.tabs-fill .ant-tabs-tab {
    padding: 10px 16px;
    font-size: 13px;
    border-radius: 7px;
    border: 1px solid var(--border-gray);
    background-color: transparent;
}

.tabs-fill .ant-tabs-tab-active {
    background-color: var(--brand-color) !important;
    border: 1px solid var(--brand-color);
}

.tabs-fill .ant-tabs-ink-bar{
    display: none;
}

.tabs-fill .ant-tabs-tab-active .ant-tabs-tab-btn{
    color: var(--white-text) !important;
}

.ant-switch.ant-switch-checked {
    background: var(--brand-color) !important;
}

.icon-pre{
    width: 44px;
    height: 44px;
    background-color: var(--light-brand);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.bg-red{
    background-color: var(--red-color) !important;
}

.bg-orange{
    background-color: var(--orange) !important;
}

.upload-d{
    width: 130px;
    height: 80px;
    display: block;
}

.alignStart .ant-table .ant-table-cell:last-child {
  vertical-align: top;
}

.alignStart .ant-table  .ant-table-cell:nth-last-child(2) {
    vertical-align: top;
}

.branded{
    background-color: var(--light-indego) !important;
    color: var(--brand-color) !important;
}

.sellerpendingstatus{
    background-color: var(--teal-light) !important;
    color: var(--teal-text) !important;
}

.paymentapprovalpending{
    background-color: var(--magenta-light) !important;
    color: var(--magenta-text) !important;
}

.bankdetailpending{
    background-color: var(--bg-gray-light) !important;
    color: var(--text-gray) !important;
}

.commissiontransferbuyer{
    background-color: var(--bg-violet-light) !important;
    color: var(--violet-color) !important;
}

.dsasellerpending{
    background-color: var(--sky-light) !important;
    color: var(--sky-blue) !important;
}

.dsabuyerpending{
    background-color: var(--light-orange-1) !important;
    color: var(--dark-orange) !important;
}

.paybusinessamount{
    background-color: var(--vivid-bg) !important;
    color: var(--vivid-color) !important;
}

.fit-content{
    width: fit-content !important;
}

.sm-pill{
    padding: 5px 10px !important;
    border-radius: 4px;
    width: fit-content !important;
}


.collapse-cs1 .ant-collapse-item{
    margin-bottom: 20px !important;
    border-radius: 8px !important; 
    border: 1px solid var(--border-gray); 
    background-color: var(--body-text) !important;  
    border-bottom: 1px solid  var(--border-gray) !important;
}

.collapse-cs1 .ant-collapse-item-active{
    background-color: transparent !important;
}

.collapse-cs1 .ant-collapse-header{
    padding: 16px !important;
    background-color: transparent !important;
    border-radius: 0px !important;
}

.collapse-cs1 .ant-collapse-item-active .ant-collapse-header{
    border-bottom: 1px solid var(--border-gray);
}


.deals-status{
    padding: 12px 20px !important;
    border-radius: 8px;
    background-color: var(--sky-light);
}

.sky-lightest{
    background-color: var(--sky-lightest) !important;
}

.bg-gray{
    background-color: var(--gray-color) !important;
}

.card-img-2{
    height: 300px !important; 
    overflow: hidden;
}

.object-cover{
    object-fit: cover;
}

.object-top{
    object-position: top;
}

.card-cs .ant-card-actions li{
    padding: 0 12px;
}

.card-cs .ant-card-actions{
    width: 100%;
}


/* login or signup or forgot form css */
.signup-form-container {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
  padding: 20px;
}

.form-inner {
  max-width: 500px;
  width: 100%;
  
}


.signup-visual-container {
  background-color: #05052D;
  /* background-image: url('../assets/images/login-sh.svg'); */
  min-height: 100vh;
  height: -webkit-fill-available;
  position: relative;
  z-index: 1;
}

.bg-shade{
    position: relative;
}

.bg-shade::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../assets/images/shade.svg');
    width: 100%;
    height: -webkit-fill-available;
    background-size: cover;
    z-index: -1;
    background-position-y: bottom;
    transform: rotate(180deg);
}

.logo-sp{
    transform: translateY(200px);
}


.bg-dark-blue{
    background-color: var(--dark-blue) !important;
}

 .border-white{
    border-color: var(--white-text) !important;
 }
.lang-dropdown{
    position: absolute;
    top: 10px;
    right: 10px;
}

.viewimg{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--black-color);
}

.pill-round{
    border-radius: 50px;
    padding: 8px 14px;
    background-color: var(--light-brand) !important;
}

/* steps css  */
.custom-step-title {
    font-size: 13px;
    text-align: center;
    display: block;
    color: var(--black-color);
}

.custom-step-title.completed{
    color: var(--brand-color);
    font-weight: 500;
}

.custom-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.custom-dot::after {
    content: "";
    position: absolute;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    border: 2px solid gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.custom-dot.active {
    background-color: var(--brand-color);
}

.custom-dot.active::after {
    border-color: var(--brand-color);
}

.custom-dot.completed::after{
    border-color: var(--brand-color) !important;
}

.ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon .ant-steps-icon-dot {
    background-color: transparent !important;
}

.steps-create.ant-steps-dot .ant-steps-item-tail::after{
    height: 1px !important;
}

.steps-create .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after {
    background-color: rgb(128 128 128) !important;
}

.steps-create .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-tail::after{
    background-color: rgb(128 128 128) !important
}

.custom-step-title {
    transition: color 0.3s ease;
}
.custom-step-titles {
    color: var(--text-gray);
    transition: color 0.3s ease;
}

.custom-step-titles.completed {
    color: var(--white-text);
}

.step-content {
    position: relative;
    overflow: hidden;
}

.text-sky{
    color: var(--sky-blue) !important;
}

.addonselect{
    height: 40px !important;
}

.add-p input{
    padding: 8px  !important;
}

.text-red{
    color: var(--red-color) !important;
}

.transparent-addon .ant-input-group-addon{
    background: transparent !important;
}




/* smaller font on mobile */
@media (min-width: 575px) and (max-width: 1120px) {
  .responsive-steps .custom-step-title {
    font-size: 12px;
  }
  .responsive-steps {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 8px;
    padding-top: 12px;
}


.responsive-steps .ant-steps-item {
  min-width: 200px; /* keeps step labels readable */
}

}

@media (max-width: 575px){
    .steps-create.ant-steps-dot .ant-steps-item-tail::after{
        height:    100% !important;
    }
    .mbl-pad{
        padding: 10px 12px !important;
    }
}

@media (max-width: 1000px){
    .search-w{
        width: 100% !important;
    }

    /* .mbl-space{
        flex-direction: column !important;
    } */

    /* .mbl-space .ant-space-item{
        width: 100% !important;
    } */
    .mbl-btn{
        width: 100%;
    }
}


/* sheeraz css  */
@media (min-width: 1200px) {
    .overflow-style{
        width: 100%;
        height: 630px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .overflow-style::-webkit-scrollbar
    {
        width: 0px;
        background-color: #F5F5F5;
    }
}


.bg-divider{
    background: var(--border-gray) !important;
}

.offday{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid var(--input-border) !important;
    font-size: 14px;
}

.pill-square{
  display: inline-flex !important;
  border: 1px solid var(--light-brand-2) !important;
  background-color: var(--lightest-sky) !important;
  padding: 6px 8px;
  border-radius: 5px;
}